*{font:14pt "Century Gothic";}
body{background:#444;}

h1{font-size:150%;}
/*img{margin:0;padding:0;}*/
ul, li, ul li{margin:0;padding:0;}

#wrap{width:800px;margin:0 auto;background:white;}

#head{text-align:right;min-height:120px;}

#main{margin:-3px 0 0 255px !important;padding:3px 15px 5px 0 !important;}
#main p{line-height:1.5em !important;}


/*visitor info menu item*/
#visit ul{list-style:none !important;padding:0 !important;margin:0 !important;background:white;}
#visit li{list-style:none !important;background:#9a804e;width:300px !important;margin:0 0 5px 0 !important;}
#visit a{letter-spacing:0.2em !important;font-size:12px !important;color:white;}

#visit a, #visit p{text-decoration:none !important;text-transform:uppercase !important;text-align:center !important;padding:0 10px !important;}
#visit:hover{background:#edce9d;}
#visit:hover a{color:black;background:#edce9d;}

.space{height:50px;}

table td a{color:brown !important;}

#abt{background:#0066cc !important;text-align:right !important;}



/*upcoming events menu item*/
#events ul{list-style:none !important;padding:0 !important;margin:0 !important;background:white;}
#events li{list-style:none !important;background:#0071a8;width:300px !important;margin:0 0 5px 0 !important;}
#events a{letter-spacing:0.2em !important;font-size:12px !important;color:white;}

#events a, #events p{text-decoration:none !important;text-transform:uppercase !important;text-align:center !important;padding:0 10px !important;}
#events:hover{background:#69b5cc;}
#events:hover a{color:black;background:#69b5cc;}



/*wineries menu item*/
#winery ul{list-style:none !important;padding:0 !important;margin:0 !important;background:white;}
#winery li{list-style:none !important;background:#8a005d;width:300px !important;margin:0 0 5px 0 !important;}
#winery a{letter-spacing:0.2em !important;font-size:12px !important;color:white;}

#winery a, #winery p{text-decoration:none !important;text-transform:uppercase !important;text-align:center !important;padding:0 10px !important;}
#winery:hover{background:#c15faa;}
#winery:hover a{color:black;background:#c15faa;}


/*private events menu item*/
#pevents ul{list-style:none !important;padding:0 !important;margin:0 !important;background:white;}
#pevents li{list-style:none !important;background:#22a173;width:300px !important;margin:0 0 5px 0 !important;}
#pevents a{letter-spacing:0.2em !important;font-size:12px !important;color:white;}

#pevents a, #pevents p{text-decoration:none !important;text-transform:uppercase !important;text-align:center !important;padding:0 10px !important;}
#pevents:hover{background:#86d1b1;}
#pevents:hover a{color:black;background:#86d1b1;}


/*weddings menu item*/
#wed ul{list-style:none !important;padding:0 !important;margin:0 !important;background:white;}
#wed li{list-style:none !important;background:#8060ab;width:300px !important;margin:0 0 5px 0 !important;}
#wed a{letter-spacing:0.2em !important;font-size:12px !important;color:white;}

#wed a, #wed p{text-decoration:none !important;text-transform:uppercase !important;text-align:center !important;padding:0 10px !important;}
#wed:hover{background:#b5a1d6;}
#wed:hover a{color:black;background:#b5a1d6;}


#foot ul{list-style:none !important;padding:0 !important;margin:0 !important;}
#foot li{text-transform:uppercase !important;padding:2px 0 !important;margin:0 !important;background:white;}
#foot li:before{content:url(http://oldsugarmill.swbroadband.co.uk/images/default-source/base-images/grapes_sm.gif?Status=Temp&sfvrsn=2);position:absolute; top:22px;}
#foot a{padding:0 10px 0 18px !important;margin:0 !important;color:brown !important;text-decoration:none !important;text-transform:uppercase !important;background:white;}


#TAA308A80001_Col00, #TF2224C2B007_Col00, /*#C009_Col00,*/ #C008_Col00, #C004_Col00, #T32AA0039003_Col00{background:#71985f; color:white;padding:8px 13px;height:460px !important;line-height:1.5em !important;}

table td{padding:5px 40px 5px 0 !important;}
