div.RadPanelBar_Default div.rpHeaderTemplate, 
div.RadPanelBar_Default a.rpLink 
{ 
    background-image: none; 
} 

div.RadPanelBar_Default div.rpHeaderTemplate, 
div.RadPanelBar_Default a.rpLink.classOfItem1  /*<----write class of item here e.g. the page title to which it leads */ 
{ 
    background-color:Yellow; 
} 

div.RadPanelBar_Default div.rpHeaderTemplate, 
div.RadPanelBar_Default a.rpLink.classOfItem2  /*<----write class of item here e.g. the page title to which it leads */ 
{ 
    background-color:Blue; 
} 

div.RadPanelBar_Default div.rpHeaderTemplate, 
div.RadPanelBar_Default a.rpLink.classOfItem3  /*<----write class of item here e.g. the page title to which it leads */ 
{ 
    background-color:green; 
}

div.RadPanelBar_Default div.rpHeaderTemplate, 
div.RadPanelBar_Default a.rpLink.classOfItem4  /*<----write class of item here e.g. the page title to which it leads */ 
{ 
    background-color:Aqua; 
}

/*hovers*/

div.RadPanelBar_Default div.rpHeaderTemplate, 
div.RadPanelBar_Default a.rpLink.classOfItem1:hover
{ 
    background-color:black; 
}

div.RadPanelBar_Default div.rpHeaderTemplate, 
div.RadPanelBar_Default a.rpLink.classOfItem2:hover
{ 
    background-color:white; 
}

div.RadPanelBar_Default div.rpHeaderTemplate, 
div.RadPanelBar_Default a.rpLink.classOfItem3:hover
{ 
    background-color:Silver; 
}

div.RadPanelBar_Default div.rpHeaderTemplate, 
div.RadPanelBar_Default a.rpLink.classOfItem4:hover
{ 
    background-color:yellow; 
} 

